# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Seed Plugin Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: The version of the release, if needed (x.y.z-p)
        required: false
        type: string
      next:
        description: Is it a dev / next release ?
        required: true
        type: boolean
      deploy:
        description: Deploy to public website?
        required: true
        type: boolean

jobs:
  build:
    env:
      branch: ${{ inputs.next == true && 'Development' || 'main' }}
      stage: ${{ inputs.next == true && 'next' || 'latest' }}
      version: ${{ inputs.next == true && 'patch' || 'minor' }}

    runs-on: ubuntu-latest

    strategy:
      matrix:
        browser: [chromium, chrome]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ env.branch }}
          token: ${{secrets.DONTCODE_ACTIONS_TOKEN}}
      - name: Use Node.js 18
        uses: actions/setup-node@v4
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
          cache: 'npm'
      - name: Install Nx.dev
        run: |
          npm install -g nx
      - name: Version
        if: ${{ success() && ( matrix.browser == 'chromium' ) && ( inputs.version == '') }}
        run: |
          PACKAGE_VERSION=$(npm view @dontcode/plugin-seed versions --json | jq -r '.[-1]')
          echo "PACKAGE_VERSION=$PACKAGE_VERSION" >> $GITHUB_ENV
          cd libs/seed
          npm version $PACKAGE_VERSION --allow-same-version
      - name: Version ${{ env.version }}
        if: ${{ success() && ( matrix.browser == 'chromium' ) && ( inputs.version == '') }}
        run: |
          cd libs/seed
          npm version ${{ env.version }}
      - name: Version
        if: ${{ success() && ( matrix.browser == 'chromium' ) && ( inputs.version != '') }}
        run: |
          PACKAGE_VERSION=${{inputs.version}}
          echo "PACKAGE_VERSION=$PACKAGE_VERSION" >> $GITHUB_ENV
          cd libs/seed
          npm version $PACKAGE_VERSION
      - name: Install ${{env.stage}}
        run: |
          npm ci
          npm install @dontcode/core@${{env.stage}} @dontcode/plugin-common@${{env.stage}} @dontcode/sandbox@${{env.stage}}
      - name: Build
        run: |
          nx run seed:build:production
      - name: Unit tests
        run: |
          nx run seed:test
          nx run seed-tester:test
      - name: E2E Tests on ${{matrix.browser}}
        run: |
          nx run seed-tester-e2e:e2e --browser ${{matrix.browser}}
      - uses: actions/upload-artifact@v4
        # Test run screenshots only on failure
        if: failure()
        with:
          name: cypress-${{matrix.browser}}-screenshots
          path: dist/cypress/apps/seed-tester-e2e/screenshots
        # Test run video was always captured, so this action uses "always()" condition
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-${{matrix.browser}}-videos
          path: dist/cypress/apps/seed-tester-e2e/videos
      - name: Deploy the tester application in github pages
        if: ${{ success() && matrix.browser == 'chromium'}}
        run: |
          nx run seed-tester:build:production --output-path="dist/apps/seed-tester/${{env.stage}}" --base-href "https://run.dont-code.net/plugin-seed/${{env.stage}}/"
      - if: ${{ success() && matrix.browser == 'chromium' && ( inputs.deploy == true)}}
        uses: gcollin/ghaction-github-pages@main
        with:
          repo: dont-code/plugin-seed
          target_branch: gh-pages # The branch the action should deploy to.
          build_dir: dist/apps/seed-tester
          keep_history: false
          multiple_sites: true
          jekyll: false
        env:
          GITHUB_TOKEN: ${{secrets.DONTCODE_ACTIONS_TOKEN }}

      - name: Publish library ${{env.stage}}
        if: ${{ success() && ( matrix.browser == 'chromium' ) }}
        run: |
          npm publish dist/libs/seed --access public --tag ${{env.stage}}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
